<body>
  <table>
    <thead>
      <tr>
        <th>Server</th>
        <th>Online</th>
        <th>Last Heartbeat</th>
      </tr>
    </thead>
    <tbody>
    <% @list.each do |item| %>
      <tr>
        <td><%= item[:world_name] %></td>
        <td><%= item[:online_count] %></td>
        <td><%= item[:updated_at] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</body>
